
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400);

body {
	font: normal normal 13px/16px "Open Sans", sans-serif;
	background: #ffffff;
}

.container {
	padding: 20px;
	width: 500px;
	margin: 0 auto;
	margin-top: 40px;
	background: rgb(192, 221, 249);
	border-radius: 5px;
	box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

form {
	display: inline-block;
}

input {
	padding: 4px 15px 4px 5px;
	width: 400px;
}

#button {
	display: inline-block;
	background-color:#2c30af;
	color:#ffffff;
	border-radius: 5px;
	text-align:center;
	margin-top:2px;
	margin-left: 10px;
	padding: 5px 15px;
}

#button:hover {
	cursor: pointer;
	opacity: .8;
}

ol {
	padding-left: 20px;
}

ol li {
	padding: 5px;color:#000;
}

ol li:nth-child(even) {
	background: #dfdfdf;
}

.strike {
	text-decoration: line-through;
}

li:hover {
  cursor: pointer;
 }

.delete {
	display: none;
}

li > crossOutButton {
	background: none;
	border: none;
	float: right;
	color: #2c30af;
	font-weight: 800;
}

li > crossOutButton:hover {
	transform: scale(1.4);
	color: #2c30af;
	transition: 1.2 ease;
}
